<pre-footer>
   <div class="container">
   </div>
</pre-footer>
<footer>
    <div class="container">
        <hr>
        <div class="columns">
            <div>
        <p>Pawsey Design Ltd</br>
        4 Stakes Hill Cottages</br>
        St Ann's Chapel</br>
        Kingsbridge</br>
        Devon</br>
        TQ7 4HX</p>
    </div>
    <div class="align-right">
        <p>Mobile: <a href="tel:+447580099782">07580 099782</a></p>
    <p>Email: <a href="mailto:phillip.pawsey@pawseydesign.co.uk">phillip.pawsey@pawseydesign.co.uk</a></p>
    </div>
    </div>
        Registered in England and Wales No. 06575518
        Director Phil Pawsey
    </div>
</footer>