<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{- with .Title | default .Site.Title -}}
  <title>{{ . }} | Pawsey Design Ltd</title>
  <meta property="og:title" content="{{ . }}" />
  <meta name="twitter:title" content="{{ . | truncate 70 }}" />
  {{- end -}}

  {{- with .Description | default .Params.meta_page_description | default .Summary -}}
  <meta name="description" content="{{ . }}">
  <meta property="og:description" content="{{ . }}">
  <meta name="twitter:description" content="{{ . | truncate 200 }}">
  {{- end -}}

  <link href='{{ "" | absLangURL }}favicon.ico' rel='icon' type='image/x-icon'/>

  <meta property="og:url" content="{{ .Permalink | absLangURL }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <link rel="canonical" href="{{ .Permalink | absLangURL }}" />



  <link rel="apple-touch-icon" sizes="180x180" href="{{ "" | absLangURL }}apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "" | absLangURL }}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "" | absLangURL }}favicon-16x16.png">
  <link rel="manifest" href="{{ "" | absLangURL }}site.webmanifest">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  
  
  {{ $styles := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">

  </head>