<nav role="navigation" aria-label="Main Navigation">
    <div class="container">
      <div class="nav-top">
     <a id="logo" href="/" title="home link"><img width="120" src="/uploads/PawseyDesignLogo.svg" alt="Pawsey Desugn Ltd Drainage tests to BRE 365 and BS 6297"></a>
     <div class="textHeaders">
     {{ if .IsHome }}
     
        <h1 class="wordLogo">Pawsey Design Ltd</h1>
        <h2 class="headerSubheading">Drainage tests to BRE 365 and BS 6297</h2>
        <h2 class="headerSubheading">Drainage designs for planning approval and construction in the South Hams</h2>
    
    {{ else }}
    <span class="site-headers">
      <h2 class="wordLogo">Pawsey Design Ltd</h2>
      <h3 class="headerSubheading">Drainage tests to BRE 365 and BS 6297</h3>
      <h3 class="headerSubheading">Drainage designs for planning approval and construction in the South Hams</h3>
  </span>
     {{ end }}
    </div>
    </div>
     <div class="menu-container">
        <button class="nav__button" aria-expanded="false" aria-controls="menu">
            <svg class="nav__label" aria-label="Menu" viewBox="0 0 32 32" width="16" height="16" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="6.25%">
              <path d="M4 8 L28 8 M4 16 L28 16 M4 24 L28 24"></path>
            </svg>
          </button>
        <ul class="nav__menu" id="menu" hidden>  
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="nav__item"><a class="nav__link nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}aria-current="page"{{ end }} href="{{ .URL }}" >{{ .Name }}</a></li>
    {{ end }}
    </ul>
</div>
<hr>
</div>
</nav>


<script>
var toggleMenu = document.querySelector('.nav__button');
var menu = document.querySelector('.nav__menu');

toggleMenu.addEventListener('click', function() {
  var open = JSON.parse(toggleMenu.getAttribute('aria-expanded'));
  toggleMenu.setAttribute('aria-expanded', !open);
  menu.hidden = !menu.hidden;
});

</script>