
html {
    font-size: 100%; // In most browsers, this defaults to 16 pixels
    overflow-x:hidden;
    width: 100%;
    height: 100%;
    }
body{
    font-family: "Times New Roman", Times, serif;
    letter-spacing:1px;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    margin:0;
}

nav{
    padding:2rem 0;
    font-weight: 200;
}
header {
    margin-bottom: 2rem;
  }
footer{
    margin-top:auto;
    padding:2rem 0;
}

h1, h2, h3, h4{
    margin-top:0;
    margin-bottom:0;
}
p{
    font-size:1.2rem;
    line-height: 1.4;
}
a{
    color:inherit;
    &visited{
        color:inherit;
    }
}
img{
    max-width:100%;
}
.hidden{
  visibility: hidden;
  height:1px;
  margin: 0;
  padding: 0;
}
    .container{
        width:80vw;
        max-width:1140px;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    .nav-top{
        display:flex;
        align-items: center;
        h1, .site-headers h2{
            text-transform: uppercase;
            font-size:2rem;
            font-weight:400;
        }
        h2, .site-headers h3{
            font-size:1.5rem;
            font-weight:400;
        }
        .textHeaders{
            margin-left:2rem;
        }
    }
#logo{
    z-index:1;
}
.textHeaders{
    z-index:1;
}
#menu {
    display: flex;
    justify-content: space-evenly;
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #2f2f77;
    margin-top: 1.5rem;
    margin-bottom:1.5rem;
    a{
        color:white;
        text-decoration:none;
        font-weight: 400;
        font-family: Helvetica,sans-serif;
        &.active {
            border-bottom: 1px solid white;
          }
    }

}


        .greybox {
  background: #becfd963;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    column-gap: 2rem;
    a{
      text-decoration: none;
    }
}
.featherlight-image.featherlight-inner {
  max-height: 70vh;
}
.featherlight-content{
  .featherlight-next span {
    font-size: 20px !important;
    text-shadow: none !important;
    }
    .featherlight-previous span {
      font-size: 1rem !important;
      text-shadow: none !important;
      }
    .featherlight-next:hover, .featherlight-previous:hover {
      background: none !important;
    }
}
.caption {
  padding-top: 1rem;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 1fr);
    column-gap: 2rem;
    h3{
        font-weight: 400;
        margin-top:0.5em;
    }
    p{
        margin:0;
    }
    a{
        color:inherit;
        &:visited{
            color:inherit;
        }
    }
  }
  .article-overview.greybox {
    padding: 1rem;
  }
  .columns {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr);
    column-gap: 2rem;
  }

  [hidden] {
    display: none;
  }


  form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  form > * {
    width: calc(100% - 2.2rem);
    margin-top:1rem;
    margin-bottom:1rem;
    padding:1rem;
  }
  form input, form textarea{
    border: 1px solid darkgrey;
    font-size: 1rem;
    font-family:times new roman,Times,serif;
  }
  form button{
    width:100%;
    background: #2F2F77;
    color:white;
    border:0;
    cursor: pointer;
  }
  .align-right{
    text-align:right;
  }
  
  
  @media (max-width: 73rem) {
    #menu{
      display:none;
    }
    nav{
      background: #E6ECF0;
      margin-bottom: 2rem;
      border-bottom: 2rem solid #2F2F77;
      padding-bottom: 0.5rem;
    }
    .nav__button {
      display: block;
      position: fixed;
      top: 30px;
      right: 30px;
      border: 0;
      height: 32px;
      width: 32px;
      background: none;
      color: black;
      font-size: 0;
      padding: 0;
      cursor:pointer;
      z-index:10;
    }
    .nav__label {
      display: block;
      pointer-events: none;
      stroke: currentcolor;
      vertical-align: middle;
      height: 32px;
      width: 32px;
    }
   
    .nav__button[aria\-expanded=true] {
      color: #213764;
    }
    .nav__button[aria\-expanded=true]::before {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
    .nav__menu {
      pointer-events: none;
      list-style: none;
      width: 100vw;
      margin-top:100px;
      height: calc(100vh - 100px);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      position: absolute;
      top:0;
      left:0;
    }
    #menu:not([hidden]) {
      pointer-events: all;
      display: flex;
      justify-content: flex-start;
      z-index: 1;
      background: white;
      position: fixed;
      top: 0;
      height: 100vh;
      margin-top: 0;
      padding-top: 1.5rem;
      overflow-y: scroll;
      a{
        color:black;
        padding:1rem;
        &.active{
            border-bottom: 1px solid black;
        }
      }
    }
    .nav__link {
      opacity: 0;
      display: block;
    }
  
    .nav__menu:not([hidden]) .nav__link {
      opacity: 1;
      transform: translate(0);
    }
    .nav__item{
      height:4em;
    }
  }
  
  @media (min-width: 73rem) {
    .nav__button {
      display: none;
    }
    .nav__menu {
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }


  @media (max-width: 50rem) {

    .nav-top{
        display:flex;
        align-items: center;
        h1, .site-headers h2{
            text-transform: uppercase;
            font-size:1.2rem;
            font-weight:400;
        }
        h2, .site-headers h3{
            font-size:1.1rem;
            font-weight:400;
        }
        .textHeaders{
            margin-left: 1rem;
            margin-right: 2rem;
        }
    }

    .articles-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .columns {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
    .align-right{
      text-align:left;
      margin-bottom:2rem;
    }
    

  }