<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
            <div class="container">
        {{- block "main" . }}{{- end }}
    </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
