{{- define "main" -}}

<main>

  {{ .Content }}
</main>

<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />


  <div data-featherlight-gallery data-featherlight-filter="a" class="gallery">
    {{ range .Params.gallery_item}}
    <a href="https://res.cloudinary.com/amplifyme/image/upload/f_webp{{ .image }}">
      <img src="https://res.cloudinary.com/amplifyme/image/upload/f_webp/w_600,h_400,c_fill{{ .image }}" alt="{{ .image_title }} preview">
      <h3>{{.image_title}}</h3>
      <p>{{ .image_description }}</p>
  </a>
  {{ end }}
</section>

  
  <script src="//code.jquery.com/jquery-latest.js"></script>
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>  
  <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
  <script>
    $(document).ready(function(){
      $('.gallery').featherlightGallery();
    });
  </script>

<script>
  $.featherlightGallery.prototype.afterContent = function () {
      var caption = this.$currentTarget.find('img').attr('alt');
      this.$instance.find('.caption').remove();
      $('<div class="caption">').text(caption).appendTo(this.$instance.find('.featherlight-content'));
  }
</script>


{{- end -}}
