{{ define "main" }}
<main>


<div class="page-intro">
    {{ .Content }}
</div>

<div class="articles-container">

        {{ range .Pages }}
        {{ $image := strings.TrimSuffix ".pdf" .Params.file }}
  
        <div class="article-overview greybox">
            <a href="{{.Permalink}}">
                <p>
                    <img src="{{ replaceRE `/upload/` "/upload/w_600,h_400,c_fill/" $image }}.webp" alt="{{ .Params.onpagetitle }} preview">
            </p>
                <h3><img width="40" src="/uploads/pdf.svg" alt="Download Pdf"> {{ .Params.onpagetitle }}</h3>
            </a>
        </div>
    {{ end }}

</div>
   
</main>
{{ end }}