{{- define "main" -}}

<main>
  <div class="columns">
    <div class="column">
  {{ .Params.overview }}
  <p>
    <a class="button" href="{{ .Params.file }}"><img width="40" src="/uploads/pdf.svg" alt="Download Pdf"> Download {{ .Params.onpagetitle }} PDF</a>
  </p>
</div>
<div class="column">
  {{ $image := strings.TrimSuffix ".pdf" .Params.file }}
  

  <img src="{{ replaceRE `/upload/` "/upload/w_600,h_400,c_fill/" $image }}.webp" alt="{{ .Params.onpagetitle }} preview">




</div>
</div>



</main>








{{- end -}}