<form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">

      <input type="text" placeholder="You Name" name="name" />

      <input type="email" placeholder="Your Email" required name="email" />

        <input type="phone" placeholder="Your Phone Number" name="phone" />

        <p class="hidden">
          <label>
            Don’t fill this out if you’re human: <input name="bot-field" />
          </label>
        </p>

   <textarea name="message" placeholder="Your Message" required></textarea>

      <button type="submit">Send</button>

  </form>
  