<div id="{{ index .Params 0 }}" class="glossary-container">
    {{ .Inner | markdownify }}
</div>

<style>
    .glossary-container{
        border-bottom: 1px solid rgb(202, 202, 202);
        margin-bottom:4rem;
    }
    .glossary-container h3 {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgb(202, 202, 202);
    cursor: pointer;
    }
    .glossary-container h3:first-of-type{
        border-top:0;
    }

</style>

<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function(){
    $("#{{ index .Params 0 }} h3").nextUntil("#{{ index .Params 0 }} h3").slideToggle();
    $("#{{ index .Params 0 }} h3").click(function() {$(this).nextUntil("#{{ index .Params 0 }} h3").slideToggle();});
    });
    </script>
